---
- name: Configure Frontend (Amazon Linux)
  hosts: frontend
  become: yes

  tasks:
    - name: Update yum cache
      yum:
        update_cache: yes

    - name: Enable nginx repo
      shell: amazon-linux-extras enable nginx1
      ignore_errors: yes

    - name: Install nginx
      yum:
        name: nginx
        state: present

    - name: Start and enable nginx
      service:
        name: nginx
        state: started
        enabled: yes


- name: Configure Backend (Ubuntu)
  hosts: backend
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install apache2
      apt:
        name: apache2
        state: present

    - name: Start and enable apache2
      service:
        name: apache2
        state: started
        enabled: yes
